* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    PADDING: 0;
    font-family: Roboto; 
}

.tour--card {
    max-width: 700px;
    max-height: 300px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    border: 1px solid grey;
}

.tour--info {
    padding: 0 10px;
}

.tour--info h4{
    color: #e91e63;
    margin-bottom: 0;
    font-size: 15px;
}

.tour--info p {
    color: #73747f;
    font-size: 12px;
    line-height: 1.4;
}

.tour--image {
    width: 100px;
    /* height: 100%; */
    /* height: 300px; */
}

.tour--card img {
    width: 200px;
    height: 200px;
}

.tour--card button {
    background: #2fa1a9;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: 700;
    transition: all .3s;
}

.tour--card button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px grey;
    cursor: pointer;
}

